@import url(./reset.css);

body {
  background-color: var(--app-bg-dark);
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.center {
  display: grid;
  place-items: center;
}

main {
  padding-bottom: 60px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-bg-dark: #121212;
  --app-content: #1d1d1d;
  --app-shadow: #101010;
  --app-blue: #257afd;
  --app-blue-hover: #025fed;
  --app-white: #fff;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h1 {
  margin-top: 27%;
  font-size: 50px;
  font-weight: 600;
  color: var(--app-white);
}

.inputs {
  margin-top: 20px;
}

input[type=text] {
  display: inline-block;
  height: 42px;
  width: 250px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  color: var(--app-white);
  background-color: var(--app-content);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px var(--app-shadow);
}

button {
  display: inline-block;
  margin-left: 18px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  color: var(--app-white);
  background-color: var(--app-blue);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 2px 1px var(--app-shadow);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* User Component
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

h2 {
  margin-top: 60px;
  color: var(--app-white);
}

.user {
  margin-top: 60px;
  width: 35%;
  padding: 30px;
  background-color: var(--app-content);
  box-shadow: 2px 2px 2px 1px var(--app-shadow);
  border-radius: 8px;
}

img {
  width: 175px;
  border-radius: 50%;
}

.name {
  margin-top: 10px;
  display: grid;
  place-items: center;
}

.full-name {
  font-size: 32px;
  color: var(--app-white);
}

.user-name {
  font-size: 18px;
  color: rgb(255, 255, 255, 0.6);
}

.user-info {
  display: flex;
  height: 75px;
  width: 100%;
}

.info {
  height: 100%;
  margin: 5px;
  width: 30%;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--app-white);
}

.highlight {
  font-size: 20px;
  color: #0bc365;
}

.followbtn {
  margin-top: 20px;
}

button:hover {
  background-color: var(--app-blue-hover);
}

.repos {
  margin-top: 20px;
  width: 100%;
}

.repo {
  display: flex;
  background-color: var(--app-content);
  height: 100px;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px var(--app-shadow);
}

.repo .highlight {
  font-size: 24px;
} 

.repo p {
  font-size: 14px;
  color: var(--app-white);
}

.repo .date {
  text-align: right;
  font-size: 18px;
  line-height: 60px;
  color: rgb(255, 255, 255, 0.6);
}

.left, .right {
  width: 50%;
}

.repo + .repo {
  margin-top: 20px;
}